/* || VARIABLES */

:root {
  --color-bg: #2c3e50;
  --color-dark: #34495e;
  --color-mid: #3498db;
  --color-light: #ecf0f1;
  --color-glass: rgba(255, 255, 255, 0.5);
  --color-gradient: linear-gradient(90deg, #ff9966, #ff5e62);

  --max-width: 1200px;
}

/* || GENERAL */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  display: grid;
  place-content: center;
  color: var(--color-dark);
  background: var(--color-gradient);
  background-size: 200%;
}

p {
  font-size: 20px;
}

/* || HEADER & LOCATION SEARCH */

header {
  margin-bottom: 80px;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1 {
  font-size: 80px;
  line-height: 80px;
  color: var(--color-glass);
}

form {
  display: flex;
  gap: 0px;
}

.location-input {
  font-size: 136px;
  font-weight: bold;
  color: var(--color-dark);
  border: none;
  padding: 8px 16px;
  border: 8px solid var(--color-glass);
  border-right: none;
  border-radius: 16px 0 0 16px;
  background: none;
  width: 80%;
  letter-spacing: -4px;
  padding-right: 0;
}

.location-input:focus {
  outline: none;
}

button[type="submit"] {
  width: 20%;
  cursor: pointer;
  font-size: 80px;
  padding: 8px 16px;
  border: 8px solid var(--color-glass);
  border-left: none;
  border-radius: 0 16px 16px 0;
  background: none;
  color: var(--color-glass);
  transition: 0.3s;
  text-wrap: nowrap;
  transition: 0.3s;
}

button[type="submit"]:hover {
  color: var(--color-dark);
}

/* || WEATHER */

.weather {
  display: grid;
  grid-template-columns: 1.6fr 1fr 1fr;
  gap: 32px;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: bold;
  grid-column: 2 / 4;
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding: 32px;
  border-radius: 16px;
  background-color: var(--color-glass);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-dark);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.current-card {
  grid-row: 1 / 3;
}

.icon {
  width: 64px;
  height: 64px;
  border: 2px solid var(--color-glass);
  border-radius: 8px;
}

.temp {
  font-size: 136px;
  font-weight: bold;
}

.deg {
  font-size: 50%;
  vertical-align: super;
}

.forecast-info-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.forecast-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted var(--color-dark);
}

/* .val {
  font-family: monospace;
  font-weight: bold;
} */

.min-max-temp {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 16px;
}

.high-label,
.low-label {
  font-size: 14px;
  font-weight: normal;
  background-color: var(--color-glass);
  padding: 2px 4px;
  border-radius: 4px;
}

.temp-toggle {
  margin-top: 80px;
  padding: 0;
  background: none;
  border: 2px solid var(--color-glass);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 24px;
  position: absolute;
  right: 64px;
  bottom: 64px;
  font-weight: bold;
  color: var(--color-glass);
  cursor: pointer;
}
